[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
boto3 = "*"
pinecone-client = {extras = ["grpc"], version = "*"}
langchain-community = "*"
openai = "*"
pypdf = "*"
pdfplumber = "*"
langchain-chroma = "*"
langchain-openai = "*"
langchain-pinecone = "*"
langchain-huggingface = "*"
s3fs = "*"
openllm = "*"
langchain-ollama = "*"
pika = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
dev = "python -m src.app"
add = "python -m src.add_document"
answer = "python -m src.answer_question"
delete = "python -m src.delete_document"
consume = "python -m src.consume_message"